<template>
  <div
    class="intl-phone-input allow-dropdown"
    v-on:mouseleave="hideList"
  >
    <div
      class="flag-container"
      v-on:click.stop="toggeList"
    >
      <div class="selected-flag">
        <div v-bind:class="`iti-flag ${countryCode}`"></div>
        <div v-bind:class="`iti-arrow${isVisiblePanel ? ' up' : ''}`"></div>
      </div>
      <ul class="country-list" v-if="isVisiblePanel">
        <li
          v-for="item in itemsData.frontItems"
          v-bind:class="`country${item.code === countryCode ? ' highlight' : ''}`"
          v-on:click.stop="setCode(item.code, item.dialCode)"
        >
          <div class="flag-box">
            <div v-bind:class="`iti-flag ${item.code}`"></div>
          </div>
          <span class="country-name">{{ item.name }}</span>
          <span class="dial-code">+{{ item.dialCode }}</span>
        </li>
        <li class="divider" v-if="itemsData.needSeparator"></li>
        <li
          v-for="item in itemsData.otherItems"
          v-bind:class="`country${item.code === countryCode ? ' highlight' : ''}`"
          v-on:click.stop="setCode(item.code, item.dialCode)"
        >
          <div class="flag-box">
            <div v-bind:class="`iti-flag ${item.code}`"></div>
          </div>
          <span class="country-name">{{ item.name }}</span>
          <span class="dial-code">+{{ item.dialCode }}</span>
        </li>
      </ul>
    </div>
    <input type="text"
      autocomplete="off"
      v-bind:name="name"
      v-on:input="handleChangePhoneNumber"
      :value="phoneNumber"
      v-bind:placeholder="intlData.example"
      v-bind:data-mask="intlData.mask"
      @input="changeValue"
      v-mask="intlData.mask"
    />
  </div>
</template>

<script>
  /* eslint-disable no-unused-vars */

  const has = Object.hasOwnProperty;
  const isObject = maybeObj => Object.prototype.toString.call(maybeObj) === '[object Object]';
  const isArray = maybeArray => Object.prototype.toString.call(maybeArray) === '[object Array]';
  const isString = maybeString => Object.prototype.toString.call(maybeString) === '[object String]';
  const isFunction = maybeFunc => Object.prototype.toString.call(maybeFunc) === '[object Function]';

  /* eslint-disable object-curly-newline */

  const phonesData = {
    ua: { code: 'ua', name: 'Ukraine (Україна)', dialCode: 380, example: '+38 099 999 9999', mask: '+## ### ### ####'  },
    pl: { code: 'pl', name: 'Poland (Polska)', dialCode: 48, example: '+48 999 999 999', mask: '+## ### ### ###'  },
    cz: { code: 'cz', name: 'Czech Republic (Česká republika)', dialCode: 420, example: '+42 099 999 9999', mask: '+## ### ### ####'  },
  };

  /* eslint-enable object-curly-newline, no-unused-vars */

  let counter = 0;

  export default {
    props: {
      name: {
        type: String,
        default() {
          counter += 1;
          return `tel-input-${counter}`;
        },
      },
      phoneNumber: {
        type: [
          Number,
          String,
        ],
        default: '',
      },
      availbleOnly: {
        type: Array,
        default: null,
      },
      toFront: {
        type: Array,
        default() {
          return [];
        },
      },
      code: {
        type: String,
        default: null,
      },
      onChange: {
        type: Function,
        default: null,
      },
      onInit: {
        type: Function,
        default: null,
      },
    },

    data() {
      const { code, availableOnly, phoneNumber } = this;
      let tmpPhonesData = Object.assign({}, phonesData);

      if (isArray(availableOnly)) {
        tmpPhonesData = {};
        availableOnly.forEach((item) => {
          if (has.call(phonesData, item)) {
            tmpPhonesData[item] = phonesData[item];
          }
        });
      }

      this.availableData = tmpPhonesData;

        var phoneNumberCode = this.phoneNumber.substring(1, 3);
        switch (phoneNumberCode) {
            case '48':
                var autoCountryCode = 'pl';
                break;
            case '42':
                var autoCountryCode = 'cz';
                break;
            default:
                var autoCountryCode = 'ua';
        }

        /*const needCode = has.call(this.availableData, code) ? code : Object.keys(this.availableData)[0];
        if (!needCode) {
          throw new Error('Available data is empty.Please set correct "availableOnly" attribute [vue-phone-input]');
        }*/

      return {
        countryCode: autoCountryCode,
        isVisiblePanel: false,
      };
    },

    computed: {
      intlData() {
        return this.availableData[this.countryCode];
      },

      itemsData() {
        const frontItems = [];
        const otherItems = [];
        const phonesDataCopy = Object.assign({}, this.availableData);

        this.toFront.forEach((code) => {
          const item = phonesDataCopy[code];

          if (isObject(item)) {
            frontItems.push(item);
            delete phonesDataCopy[code];
          }
        });

        Object.values(phonesDataCopy).forEach(item => otherItems.push(item));
        const needSeparator = frontItems.length > 0 && otherItems.length > 0;

        return {
          frontItems,
          otherItems,
          needSeparator,
        };
      },
    },

    methods: {
      handleChangePhoneNumber(event) {
        this.phoneNumber = event.target.value;

        if (isFunction(this.onChange)) {
          this.onChange(this);
        }
      },

      setCode(code, dialCode) {
        this.countryCode = code;
        this.hideList();
        this.phoneNumber = '+' + dialCode;
      },

      changeValue(event) {
          this.phoneNumber = event.target.value;
          this.$emit('value-changed', this.phoneNumber);
          var phoneNumberCode = this.phoneNumber.substring(1, 3);
      },

      showList() {
        this.isVisiblePanel = true;
      },

      hideList() {
        this.isVisiblePanel = false;
      },

      toggeList() {
        (this.isVisiblePanel ? this.hideList : this.showList)();
      },
    },

    mounted() {
      if (isFunction(this.onInit)) {
        this.onInit(this);
      }
    },
  };
</script>
